/* Wrapper */
.wrapper {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #008695;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Login Container */
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Login Card */
.loginCard {
    background: bisque;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.loginCard h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #008695;
}

/* Form Group */
.formGroup {
    margin-bottom: 1.5rem;
    text-align: left;
}

.formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    margin-left: -12px;
}

.formGroup input {
    width: 100%;
    padding: 0.75rem;
    margin-left: -14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Error Message */
.errorMsg {
    color: red;
    margin-bottom: 10px;
}

/* Login Button */
.loginBtn {
    width: 100%;
    padding: 0.75rem;
    background-color: #008695;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginBtn:hover {
    background-color: #0056b3;
}
